In [50]:
import tmdbsimple as tmdb
import pandas as pd
import numpy as np
import seaborn as sns
import urllib.request
import requests
import configparser

In [52]:
config = configparser.ConfigParser()
config.read('API_KEYS.ini')
config.sections()

API_KEY = config['tmdb.com']['API_KEY']

tmdb.API_KEY = API_KEY

In [53]:
genome_tags_ids = pd.read_csv('data/genome-tags.csv')
movies = pd.read_csv('data/movies.csv')
genome_tags = pd.read_csv('data/genome-scores.csv')
user_tags = pd.read_csv('data/tags.csv')
links = pd.read_csv('data/links.csv')

In [54]:
#45843 movies
movies.shape

(45843, 3)

In [55]:
movies = movies.merge(links, left_on = 'movieId', right_on = 'movieId', how = 'left')
movies.dropna(subset=['tmdbId'], inplace=True)
movies['tmdbId'] = movies['tmdbId'].astype(int)
movies.head()

,movieId,title,genres,imdbId,tmdbId
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862
1,2,Jumanji (1995),Adventure|Children|Fantasy,113497,8844
2,3,Grumpier Old Men (1995),Comedy|Romance,113228,15602
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,114885,31357
4,5,Father of the Bride Part II (1995),Comedy,113041,11862

In [56]:
genome_tags = genome_tags.merge(genome_tags_ids, left_on = 'tagId', right_on = 'tagId', how = 'left')
genome_tags = genome_tags.merge(movies[['title', 'movieId', 'tmdbId']], left_on = 'movieId', right_on = 'movieId', how = 'left')
genome_tags = genome_tags[genome_tags['tmdbId'].notnull()]
genome_tags['tmdbId'] = genome_tags['tmdbId'].astype(int)
genome_tags.head()

   movieId  tagId  relevance           tag             title  tmdbId
0        1      1    0.02475           007  Toy Story (1995)     862
1        1      2    0.02475  007 (series)  Toy Story (1995)     862
2        1      3    0.04900  18th century  Toy Story (1995)     862
3        1      4    0.07750         1920s  Toy Story (1995)     862
4        1      5    0.12450         1930s  Toy Story (1995)     862

In [57]:
#Only 10982 movies with genome tags
len(genome_tags['movieId'].unique())

10982

In [58]:
x = genome_tags.pivot(index='movieId', columns='tag', values='relevance')
#x = x.reset_index()
x.columns = map(str.lower, x.columns)
x.columns = x.columns.str.replace(' ', '_')

In [59]:
x.head()

,007,007_(series),18th_century,1920s,1930s,1950s,1960s,1970s,1980s,19th_century,...,world_politics,world_war_i,world_war_ii,writer's_life,writers,writing,wuxia,wwii,zombie,zombies
movieId,,,,,,,,,,,,,,,,,,,,,
1,0.02475,0.02475,0.04900,0.07750,0.12450,0.23875,0.06575,0.28575,0.25400,0.02625,...,0.03125,0.02050,0.04300,0.03375,0.12375,0.04150,0.02125,0.03600,0.10425,0.02750
2,0.03750,0.04100,0.03675,0.04750,0.10000,0.05950,0.05125,0.09600,0.08875,0.01875,...,0.03425,0.01825,0.01650,0.02325,0.13525,0.02450,0.01825,0.01325,0.08550,0.01925
3,0.03800,0.04825,0.02650,0.07300,0.05475,0.06025,0.05750,0.15675,0.03900,0.02900,...,0.03700,0.02450,0.02650,0.03125,0.15700,0.03650,0.01750,0.01725,0.10525,0.02075
4,0.03125,0.03400,0.03375,0.02875,0.06175,0.03125,0.02250,0.07250,0.04400,0.02775,...,0.04650,0.03200,0.02150,0.03850,0.19150,0.06050,0.01725,0.01325,0.05650,0.01150
5,0.04100,0.05125,0.05550,0.03300,0.07475,0.11100,0.02900,0.07150,0.02075,0.02875,...,0.03575,0.02900,0.01875,0.02125,0.14300,0.02375,0.01500,0.01325,0.12125,0.02125

In [60]:
u, s, vh = np.linalg.svd(x.loc[:1000, :], full_matrices=True)

In [61]:
y = vh[0,:]
sorted(range(len(y)), key=lambda k: y[k]*-1)

[118,
 784,
 656,
 14,
 572,
 488,
 218,
 116,
 346,
 592,
 632,
 975,
 783,
 339,
 491,
 560,
 1001,
 103,
 774,
 105,
 541,
 1059,
 391,
 635,
 963,
 13,
 70,
 558,
 737,
 1079,
 697,
 664,
 679,
 672,
 858,
 102,
 1068,
 39,
 1029,
 320,
 698,
 964,
 1078,
 540,
 677,
 785,
 16,
 576,
 938,
 1076,
 289,
 1098,
 934,
 294,
 631,
 224,
 399,
 763,
 37,
 939,
 956,
 945,
 206,
 487,
 46,
 809,
 705,
 937,
 319,
 479,
 992,
 160,
 825,
 73,
 173,
 735,
 589,
 533,
 40,
 209,
 398,
 1093,
 1037,
 872,
 500,
 1055,
 403,
 91,
 186,
 1008,
 341,
 855,
 590,
 771,
 493,
 1105,
 953,
 692,
 911,
 475,
 691,
 208,
 694,
 87,
 1066,
 570,
 1075,
 1127,
 212,
 721,
 974,
 130,
 1074,
 961,
 183,
 113,
 739,
 969,
 146,
 514,
 847,
 141,
 38,
 122,
 913,
 658,
 64,
 199,
 1038,
 926,
 723,
 923,
 865,
 88,
 236,
 306,
 204,
 135,
 559,
 23,
 485,
 634,
 1035,
 666,
 253,
 722,
 661,
 316,
 158,
 345,
 1018,
 309,
 55,
 272,
 649,
 115,
 455,
 216,
 90,
 76,
 814,
 1047,
 210,
 905,
 643,
 753,
 652,
 577,
 157,
 943,
 916,
 227,
 56,
 420,
 867,
 484,
 933,
 852,
 1021,
 10,
 68,
 915,
 627,
 1027,
 573,
 362,
 396,
 519,
 165,
 232,
 606,
 437,
 179,
 222,
 647,
 648,
 351,
 207,
 443,
 1026,
 1017,
 1042,
 71,
 569,
 201,
 684,
 712,
 59,
 669,
 575,
 819,
 630,
 1111,
 816,
 65,
 707,
 982,
 317,
 483,
 129,
 0,
 83,
 1125,
 198,
 830,
 646,
 856,
 62,
 498,
 743,
 513,
 625,
 972,
 522,
 860,
 1087,
 1020,
 280,
 538,
 1086,
 433,
 1041,
 262,
 1005,
 924,
 715,
 43,
 326,
 101,
 1,
 946,
 733,
 653,
 226,
 150,
 861,
 650,
 440,
 807,
 680,
 987,
 238,
 372,
 1124,
 494,
 1004,
 499,
 1106,
 859,
 34,
 434,
 1119,
 290,
 505,
 1077,
 162,
 927,
 883,
 282,
 673,
 1101,
 968,
 616,
 574,
 1114,
 147,
 283,
 891,
 356,
 196,
 67,
 300,
 149,
 756,
 428,
 357,
 837,
 205,
 1099,
 810,
 279,
 717,
 177,
 342,
 33,
 430,
 941,
 110,
 594,
 41,
 948,
 747,
 338,
 412,
 383,
 562,
 670,
 244,
 407,
 427,
 675,
 126,
 782,
 1015,
 695,
 245,
 1057,
 591,
 780,
 603,
 696,
 838,
 802,
 1120,
 1080,
 524,
 476,
 394,
 637,
 15,
 486,
 516,
 794,
 231,
 247,
 686,
 111,
 571,
 42,
 192,
 379,
 397,
 942,
 595,
 833,
 260,
 107,
 305,
 517,
 256,
 1058,
 1116,
 671,
 248,
 123,
 30,
 246,
 213,
 321,
 1051,
 255,
 754,
 1085,
 1040,
 687,
 801,
 1096,
 944,
 360,
 431,
 512,
 270,
 660,
 965,
 368,
 1043,
 164,
 308,
 1067,
 189,
 11,
 384,
 598,
 957,
 958,
 804,
 170,
 1030,
 629,
 1014,
 922,
 568,
 879,
 223,
 988,
 436,
 456,
 761,
 1006,
 156,
 303,
 60,
 104,
 663,
 578,
 706,
 826,
 100,
 986,
 676,
 6,
 551,
 314,
 429,
 846,
 510,
 1102,
 221,
 582,
 249,
 880,
 478,
 579,
 315,
 1121,
 536,
 984,
 371,
 406,
 63,
 482,
 820,
 617,
 44,
 124,
 125,
 836,
 868,
 404,
 890,
 817,
 1062,
 521,
 459,
 8,
 900,
 621,
 184,
 1054,
 834,
 954,
 435,
 331,
 72,
 792,
 736,
 89,
 185,
 951,
 545,
 581,
 895,
 47,
 57,
 793,
 636,
 775,
 798,
 750,
 878,
 415,
 1104,
 1081,
 461,
 654,
 181,
 1073,
 426,
 699,
 803,
 1094,
 1095,
 490,
 685,
 432,
 82,
 1032,
 940,
 529,
 233,
 225,
 261,
 251,
 86,
 952,
 583,
 172,
 815,
 1112,
 724,
 874,
 662,
 848,
 914,
 9,
 700,
 393,
 993,
 408,
 921,
 197,
 929,
 580,
 597,
 52,
 1118,
 713,
 1082,
 811,
 655,
 818,
 31,
 1003,
 133,
 985,
 329,
 931,
 593,
 887,
 79,
 385,
 292,
 418,
 1000,
 497,
 94,
 620,
 893,
 439,
 727,
 841,
 854,
 458,
 188,
 978,
 252,
 299,
 901,
 335,
 36,
 683,
 460,
 506,
 1110,
 450,
 777,
 548,
 908,
 180,
 977,
 481,
 604,
 328,
 449,
 117,
 959,
 623,
 990,
 297,
 336,
 409,
 178,
 561,
 508,
 2,
 947,
 358,
 410,
 370,
 904,
 263,
 22,
 769,
 3,
 962,
 835,
 374,
 380,
 332,
 615,
 502,
 286,
 857,
 768,
 851,
 1060,
 702,
 134,
 520,
 711,
 1123,
 452,
 220,
 138,
 155,
 917,
 344,
 1126,
 614,
 382,
 169,
 973,
 109,
 740,
 565,
 92,
 75,
 651,
 1045,
 566,
 720,
 441,
 266,
 611,
 886,
 842,
 710,
 873,
 302,
 907,
 813,
 515,
 708,
 151,
 1022,
 1092,
 821,
 665,
 585,
 176,
 928,
 348,
 642,
 537,
 77,
 152,
 469,
 789,
 544,
 1010,
 719,
 35,
 95,
 831,
 1065,
 80,
 5,
 132,
 424,
 58,
 1109,
 330,
 295,
 532,
 389,
 419,
 278,
 144,
 509,
 97,
 369,
 689,
 738,
 902,
 501,
 622,
 242,
 1025,
 840,
 1016,
 787,
 343,
 703,
 402,
 235,
 84,
 688,
 148,
 69,
 264,
 586,
 870,
 352,
 195,
 543,
 61,
 850,
 230,
 182,
 704,
 1117,
 596,
 871,
 136,
 333,
 293,
 659,
 979,
 26,
 12,
 1031,
 217,
 1108,
 983,
 892,
 25,
 462,
 417,
 875,
 797,
 24,
 638,
 587,
 995,
 1097,
 714,
 154,
 610,
 588,
 495,
 755,
 903,
 304,
 967,
 884,
 772,
 526,
 778,
 812,
 542,
 657,
 1044,
 1009,
 240,
 799,
 349,
 894,
 167,
 567,
 273,
 175,
 864,
 49,
 555,
 159,
 745,
 143,
 51,
 1046,
 728,
 906,
 237,
 200,
 32,
 422,
 767,
 1064,
 607,
 989,
 392,
 889,
 53,
 307,
 507,
 682,
 527,
 534,
 898,
 7,
 421,
 453,
 511,
 465,
 876,
 795,
 277,
 1052,
 628,
 96,
 920,
 66,
 378,
 139,
 258,
 641,
 171,
 960,
 729,
 466,
 765,
 605,
 228,
 779,
 312,
 285,
 731,
 781,
 353,
 190,
 119,
 203,
 997,
 557,
 949,
 734,
 504,
 50,
 340,
 166,
 401,
 4,
 390,
 1033,
 748,
 1012,
 1048,
 470,
 284,
 405,
 554,
 550,
 757,
 764,
 457,
 114,
 668,
 853,
 145,
 27,
 281,
 751,
 752,
 241,
 234,
 54,
 996,
 882,
 1028,
 472,
 259,
 759,
 832,
 366,
 325,
 788,
 361,
 313,
 619,
 250,
 976,
 564,
 425,
 897,
 839,
 888,
 701,
 790,
 448,
 288,
 823,
 140,
 1002,
 496,
 1013,
 1049,
 359,
 81,
 881,
 267,
 955,
 376,
 243,
 546,
 599,
 531,
 766,
 438,
 930,
 375,
 644,
 474,
 539,
 918,
 525,
 773,
 78,
 1011,
 108,
 142,
 549,
 523,
 618,
 791,
 48,
 899,
 824,
 318,
 311,
 416,
 547,
 163,
 296,
 563,
 1036,
 912,
 128,
 400,
 447,
 174,
 999,
 477,
 1019,
 193,
 827,
 1088,
 626,
 925,
 19,
 131,
 808,
 919,
 310,
 1023,
 454,
 347,
 869,
 877,
 381,
 950,
 153,
 980,
 1024,
 93,
 805,
 936,
 324,
 885,
 528,
 667,
 716,
 98,
 99,
 994,
 271,
 1115,
 1034,
 1107,
 254,
 337,
 822,
 74,
 503,
 762,
 161,
 28,
 137,
 480,
 674,
 693,
 786,
 17,
 45,
 624,
 726,
 640,
 265,
 530,
 678,
 829,
 367,
 966,
 442,
 386,
 229,
 214,
 709,
 413,
 742,
 612,
 1122,
 ...]

In [62]:
y.min()

-0.14645519886574307

In [63]:
print(x.columns[118])
print(x.columns[784])
print(x.columns[656])
print(x.columns[14])
print(x.columns[572])
print(x.columns[488])

beatles
pixar
miyazaki
aardman
james_bond
hannibal_lecter

In [66]:
#get list of top correlated variables
def get_redundant_pairs(df):
    '''Get diagonal and lower triangular pairs of correlation matrix'''
    pairs_to_drop = set()
    cols = df.columns
    for i in range(0, df.shape[1]):
        for j in range(0, i+1):
            pairs_to_drop.add((cols[i], cols[j]))
    return pairs_to_drop

def get_top_abs_correlations(df, n=5):
    au_corr = df.corr().abs().unstack()
    labels_to_drop = get_redundant_pairs(df)
    au_corr = au_corr.drop(labels=labels_to_drop).sort_values(ascending=False)
    return au_corr[0:n]

print("Top Absolute Correlations")
print(get_top_abs_correlations(x, 100))

Top Absolute Correlations
vampire                                   vampires                               0.985200
nazi                                      nazis                                  0.972703
super_hero                                superhero                              0.962798
post_apocalyptic                          post-apocalyptic                       0.960597
sci_fi                                    scifi                                  0.960092
miyazaki                                  studio_ghibli                          0.958161
world_war_ii                              wwii                                   0.956744
feel_good_movie                           feel-good                              0.956563
alien                                     aliens                                 0.952959
animated                                  animation                              0.952823
super_hero                                superheroes                            0.948877
spies                                     spy                                    0.947430
super-hero                                superhero                              0.941503
sci-fi                                    scifi                                  0.940371
science_fiction                           scifi                                  0.938743
sci_fi                                    science_fiction                        0.935551
                                          sci-fi                                 0.933350
history                                   us_history                             0.933114
lawyer                                    lawyers                                0.932335
sequel                                    sequels                                0.931738
friendship                                unlikely_friendships                   0.930095
teen                                      teen_movie                             0.929487
super_hero                                super-hero                             0.926204
political                                 politics                               0.920688
cute                                      cute!                                  0.920499
psychological                             psychology                             0.919749
vietnam                                   vietnam_war                            0.917995
dance                                     dancing                                0.917661
japan                                     japanese                               0.913789
book                                      book_was_better                        0.912229
                                                                                   ...
romance                                   romantic                               0.871931
action_packed                             good_action                            0.871076
funny                                     hilarious                              0.870327
animation                                 cartoon                                0.869336
book                                      books                                  0.868858
great                                     great_movie                            0.868317
violence                                  violent                                0.867641
based_on_a_comic                          comic_book                             0.867463
based_on_true_story                       true_story                             0.867013
alien_invasion                            aliens                                 0.864117
monster                                   monsters                               0.863105
good_sequel                               sequel                                 0.862298
horror                                    scary                                  0.862125
fairy_tale                                fairy_tales                            0.860375
comic_book                                super_hero                             0.858762
vigilante                                 vigilantism                            0.858087
biographical                              biopic                                 0.857903
witch                                     witches                                0.857807
comic_book                                comics                                 0.856952
good_sequel                               sequels                                0.854800
action                                    good_action                            0.854178
comic_book                                superhero                              0.854070
suspense                                  suspenseful                            0.852924
based_on_comic                            comic_book                             0.851553
saturn_award_(best_science_fiction_film)  saturn_award_(best_special_effects)    0.849932
hilarious                                 very_funny                             0.849928
bond                                      james_bond                             0.849426
teen                                      teens                                  0.847181
based_on_a_book                           based_on_book                          0.847175
brutal                                    brutality                              0.846444
Length: 100, dtype: float64

In [ ]:
# Create correlation of continuous columns# Create 
corr = x.corr()
mask = np.zeros_like(corr, dtype=np.bool)
mask[np.triu_indices_from(mask)] = True

# Set up the matplotlib figure
f, ax = plt.subplots(figsize=(11, 9))

# Generate a custom diverging colormap
cmap = sns.diverging_palette(220, 10, as_cmap=True)

# Draw the heatmap with the mask and correct aspect ratio
sns.heatmap(corr, mask=mask, cmap=cmap, vmax=1, vmin = -1, center=0,
            square=True, linewidths=.5, cbar_kws={"shrink": .75})

In [24]:
movie = tmdb.Movies(8844)

In [25]:
movie.info()

{'adult': False,
 'backdrop_path': '/7k4zEgUZbzMHawDaMc9yIkmY1qR.jpg',
 'belongs_to_collection': {'id': 495527,
  'name': 'Jumanji Collection',
  'poster_path': '/1dS95mhJHJ6OZHXRnoix5RRxu3X.jpg',
  'backdrop_path': '/dsaUpJoxSqYJh96s5Z9hHzoRKQ3.jpg'},
 'budget': 65000000,
 'genres': [{'id': 12, 'name': 'Adventure'},
  {'id': 14, 'name': 'Fantasy'},
  {'id': 10751, 'name': 'Family'}],
 'homepage': None,
 'id': 8844,
 'imdb_id': 'tt0113497',
 'original_language': 'en',
 'original_title': 'Jumanji',
 'overview': "When siblings Judy and Peter discover an enchanted board game that opens the door to a magical world, they unwittingly invite Alan -- an adult who's been trapped inside the game for 26 years -- into their living room. Alan's only hope for freedom is to finish the game, which proves risky as all three find themselves running from giant rhinoceroses, evil monkeys and other terrifying creatures.",
 'popularity': 5.098,
 'poster_path': '/vgpXmVaVyUL7GGiDeiK1mKEKzcX.jpg',
 'production_companies': [{'id': 559,
   'logo_path': '/rzgMLzPgJ2ZBYnlVwNi8ZDfOMwo.png',
   'name': 'TriStar Pictures',
   'origin_country': 'US'},
  {'id': 10201,
   'logo_path': None,
   'name': 'Interscope Communications',
   'origin_country': ''},
  {'id': 2550,
   'logo_path': None,
   'name': 'Teitler Film',
   'origin_country': ''}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '1995-12-15',
 'revenue': 262797249,
 'runtime': 104,
 'spoken_languages': [{'iso_639_1': 'en', 'name': 'English'},
  {'iso_639_1': 'fr', 'name': 'Français'}],
 'status': 'Released',
 'tagline': 'Roll the dice and unleash the excitement!',
 'title': 'Jumanji',
 'video': False,
 'vote_average': 7.1,
 'vote_count': 4842}

In [21]:
pd.DataFrame([response], columns=response.keys())

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,/dji4Fm0gCDVb9DQQMRvAI8YNnTz.jpg,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,...,1995-10-30,373554033,81,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,,Toy Story,False,7.9,8321

In [10]:
movie.info()['poster_path']

'/rhIRbceoE9lR4veEXuwCC2wARtG.jpg'

In [14]:
import os
os.chdir('data/images')

In [15]:
x, y = urllib.request.urlretrieve("https://image.tmdb.org/t/p/w400/rhIRbceoE9lR4veEXuwCC2wARtG.jpg", "toy_story.jpg")

In [16]:
print(x)

toy_story.jpg

In [39]:
result = requests.get("https://image.tmdb.org/t/p/w400/rhIRbceoE9lR4veEXuwCC2wARtG.jpg", stream=True)
if result.status_code == 200:
    image = result.raw.read()
    open('/Users/y060026/Springboard/projects/movie_poster_analysis/data/images/toy_story.jpg',"wb").write(image)